@import url('https://fonts.googleapis.com/css?family=Enriqueta:700');

* {
    font-size: 17px !important;
}

/*
-----------
1.- HOME
-----------
*/

.underline-1 {
    display: block;
    margin: 0 auto 30px;
    width: 100px;
    border-bottom: 2px solid #252525;
}

.underline-2 {
    display: block;
    margin: 0 auto;
    width: 100px;
    border-bottom: 2px solid white;
}

.bd {
    border: 2px solid red !important;
}

/*Who we are*/
.p-b-0 .container {
    padding: 2%;
}

.who-header {
    padding: 8rem 0 0 0;
}

.who-image img {
    transition: all .3s ease-in-out;
}

.who-image img:hover {
    transform: translateY(-10px);
    box-shadow: 0px 6px 20px darkgrey;
}

/*Our cheese*/

.icon-box {
    margin-bottom: 0px;
    padding: 5%;
    border: 1px solid rgba(211, 211, 211, 0);
    transition: all .3s ease-in-out;
    min-height: 235px;
}

.icon-box:hover {
    border: 1px solid rgb(212, 212, 212);
    box-shadow: 0px 10px 20px rgb(211, 211, 211);
    background: rgba(255, 255, 255, 0.4);
}

.icon-box .icon {
    transition: all .3s ease-in-out;
}

.icon-box .icon:hover {
    transform: translateY(30px);
}

.background-grey {
    background-color: #f1f1f1 !important;
}

.testimonial-names {
    color: #023128;
}

.btn:hover, .btn:focus, .btn:not(:disabled):not(.disabled):active, .btn:not(:disabled):not(.disabled).active {
    outline: 0 !important;
    background-color: #52b501;
    border-color: #52b501;
    color: #fff;
}

.btn-light:hover{
    background-color: #fff;
    color: #313846;
    border-color: #c1c1c1;
}

.text-semi-medium {
    font-size: 30px !important;
    font-weight: 800;
    line-height: 1.1;
}

.cheeses {
    margin: 2% 0;
    padding: 5%;
    background: rgba(255,255,255,.25);
    border: 1px solid rgba(255,255,255,.3);
    box-shadow: 0px 10px 15px rgba(0,0,0,.2);
    transition: all .3s ease-in-out;
}

.cheeses > h2 {
    color: #112133 !important;
}

.cheeses:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 15px rgba(17, 107, 191, .5);
}

.border-r {
    border-right: 2px solid white;
}

.text-shadow {
    text-shadow: 0px 5px 10px rgba(0,0,0,.2);
}

.box-shadow {
    box-shadow: 0px 10px 15px rgba(0,0,0,.2);;
}

.separador-white {
    width: 80px;
    border-bottom: 2px solid white;
    margin: -15px 0px 20px;
}

.separador-dark {
    width: 80px;
    border-bottom: 2px solid #212121;
    margin: -15px 0px 20px;
}

.list-icon li{
    transition: all .3s ease-in-out;
}

.list-icon li:hover{
    transform: translateX(15px);
}

.background-green {
    background-color: #199d17;
}


.background-gradient-white {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,eaeaea+100 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #eaeaea 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#eaeaea 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%,#eaeaea 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */
}

.font-charm {
    font-family: 'Pacifico', cursive !important;
    letter-spacing: 5px;
}

.font-fresko {
    font-family: 'Enriqueta', serif;
}

#header-wrap {
    padding: .6% !important;
}

.background-dairy {
    background-color: #5bcbf5;
}

.cheeses > p {
    margin-bottom: 0;
}

.background-welcome {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7ce52e+0,3a81cc+100 */
    background: #7ce52e; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #7ce52e 0%, #3a81cc 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #7ce52e 0%,#3a81cc 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #7ce52e 0%,#3a81cc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7ce52e', endColorstr='#3a81cc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.the-famous {
    font-size: 20px;
    color: #2f2f2f;
    font-family: sans-serif;
    letter-spacing: 3px;
}

#header.dark #mainMenu nav > ul > li > a:hover {
    border-width: 4px 3px;
    border-style: solid;
    -webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(black), to(rgba(0, 0, 0, 0))) 1 100%;
    -webkit-border-image: -webkit-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;
    -moz-border-image: -moz-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;
    -o-border-image: -o-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;
    border-image: linear-gradient(to bottom, #43e216, rgb(41, 67, 157)) 1 100%;
    background: rgba(206, 206, 206, 0.3);
    color: #323642;
}

#header.dark {
    background: #e6e5e5;
}

#mainMenu nav > ul > li.hover-active > a, #mainMenu nav > ul > li.hover-active > span, #mainMenu nav > ul > li.current > a, #mainMenu nav > ul > li.current > span, #mainMenu nav > ul > li:hover > a, #mainMenu nav > ul > li:hover > span, #mainMenu nav > ul > li:focus > a, #mainMenu nav > ul > li:focus > span {
    border-width: 4px 3px;
    border-style: solid;
    -webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(black), to(rgba(0, 0, 0, 0))) 1 100%;
    -webkit-border-image: -webkit-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;
    -moz-border-image: -moz-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;
    -o-border-image: -o-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;
    border-image: linear-gradient(to bottom, #43e216, rgb(41, 67, 157)) 1 100%;
    background: rgba(206, 206, 206, 0.3);
    color: #4e5e65;
}

.cheeses-about {
    margin: 0 auto;
    list-style: none;
}

.cheeses-about > li {
    margin: 5px 0 10px;
    background-color: rgba(255,255,255,.5);
}

#header.header-transparent #header-wrap, #header.header-transparent.dark #header-wrap {
    background-color: rgb(118, 227, 46);
}

#slider {
    background-color: rgba(255,255,255,0);
}

.owl-carousel .owl-nav [class*="owl-"]:hover {
    background-color: #3cde16;
    border-color: #75e32e;
}

.mission-list {
    list-style: none;
}

.photo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
}

.photo img{
    width: 500px;
    object-fit: cover;
    box-shadow: 10px 15px 25px 0 rgba(0,0,0,.2);
    display: block;
    transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
    margin-top: -10px;
}

.photo:hover img{
    box-shadow: 1px 1px 10px 0 rgba(0,0,0,.1);
}

.photo .glow-wrap{
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    margin-top: -10px;
}

.photo .glow{
    display: block;
    position:absolute;
    width: 40%;
    height: 200%;
    background: rgba(255,255,255,.2);
    top: 0;
    filter: blur(5px);
    transform: rotate(45deg) translate(-450%, 0);
    transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.photo:hover .glow{
    transform: rotate(45deg) translate(450%, 0);
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.photo:hover img,
.photo:hover .glow-wrap{
    margin-top: 0;
}